@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("phys.org") {
form.header-search {position:fixed!important;z-index:100!important;
			top:0;right:0;	width:50vw!important;		}
	.header-search [name='search']{  ;display:block!important;border:0.25vw solid green}
		.align-items-center,.align-items-center *{display: inline!important;width:auto!important;height:auto!important;}
}
